*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px;
    padding: 5px;
    height: 270px;
    background-color: white;
}
.items{
    transform: scale(100%);
    transition: all 0.5s ease-in-out;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    width:250px;
    height: 100px;
}
.items:hover{
    transform: scale(104%);
}
img{
    margin: 2px;
    display: block;
    width:230px;
    border-radius:10px;
    height: 150px;
}
.title{
    margin-top: 8px;
    font-size: 14px;
}
.rating{
    position: absolute;
    right: 10px;
    padding:2px;
    font-size: 10px;
    border-radius:5px;
    color: white;
    background-color: rgba(3, 109, 3, 0.801);
} 
.sub-title{
    color: rgb(79, 79, 79);
    margin-top: 5px;
    font-size: 10px;
}
.amt,.time{
    position: absolute;
    color: rgb(68, 68, 68);
    margin-top: 5px;
    font-size: 10px;
    right: 6px;
}
.discount{
    margin: 2px;
    font-size: 12px;
    border-radius: 3px;
    padding:2px;
    position:absolute;
    z-index: 1;
    background-color: rgb(0, 146, 194);
    color: white;
    top:138px;
}